<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website is meant to deliver the weather forecast of the location provided</p>
        <p>Go to Weather and search for it!</p>
    </div>
    {{>footer}}
</body>

</html>