<header>
    <h1 align="center">{{title}}</h1>
    <ul>
        <li><a href="/">Weather</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    
</header>

